/JavaApplication19/nbproject/private/
/JavaApplication19/build/
/CollectionJava/nbproject/private/
/CollectionJava/build/
/HelloNetworking/nbproject/private/
/HelloNetworking/build/
/JavaApplication22/nbproject/private/
/JavaApplication22/build/